* {
    box-sizing: border-box;
}

/* Main page content styling */
.main-content {
    padding: 0;
}

/* Nav Bar Styling*/
.navbar-logo {
    color:rgba(255, 255, 255, 0.938);
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 20px;
    padding: .25em;
    border: white solid 10px;
    border-radius: 100px / 50px;
    border-style: double;
    width: 100px;
    text-align: center;
    font-size: 1em;
    letter-spacing: .1em;
    background-color: rgb(12, 12, 12);
}

button.navbar-toggler {
    margin-right: 15px;
}

/* Home Styling */
.container.home {
    background-image: url('https://res.cloudinary.com/dqtisi62i/image/upload/v1626187247/light-abstract-technology_j4jc7v.jpg'); 
    background-size: cover;
    color: white;
    height: 250px;
    top: 50px;
}

/* Projects Styling */
p.projects-title {
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 0;
}

.projects {
    width: 60%
}

.project-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
}

h3.project-title {
    padding-top: 10px;
    font-size: 1.3em;
    text-align: center;
}

p.project-description {
    text-align: center;
}

.project-github , .project-deployed {
    margin-left: 35px;
}

.project4 {
    padding-bottom: 35px;
}
/* About Styling */
.container.about {
    background-color: #0074D9;
    margin: 0;
}

.about-title {
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #DDDDDD;
    width: 100%;
}
.about-text {
    text-align: center;
    line-height: 2em;
    font-size: 1em;
    color: #DDDDDD;
    padding-bottom: 10px;
}

/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
}
.skill-title {
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 10px;
}

div.skill {
    height: 100%;
    width: 100%;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

div.skill p {
    font-size: 0.8em;
}

.skillitem {
    object-fit: cover;
    max-width: 70%;
    max-height: 60% ;
}

/* Contact Section */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5em;
    padding: 0px 20px;
}

.container.contact {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: rgb(226, 229, 229);
    width: 80%;
}

.contact-title {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2em;
    font-weight: 500;
}

#form-label {
    margin: 10px 0px;
    font-size: 1.2em;
    color: #0074D9;
}
form input {
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: .3em;
}
#my-form-button {
    margin-top: 20px;
    /* box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4); */
    border:black;
    transition-duration: 0.4s;
    background-color: #47484c;
    color: white;
    width: 50%;
    align-self: center;
    padding: 10px 0;
}

#my-form-button:hover {
    background-color: white;
    color: black
  }

#my-form-status {
    padding-top: 10px;
    margin-bottom: 0px;
    align-self: center;
}

/* Footer Styling */
footer {
    background-color: black;
}
ul.footer-nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
}
footer div {
    color: white;
    padding-top: 10px;
}
.footer-nav li a {
    text-decoration: none;
    color: white
}

/* Responsive Design Tablet and Desktop */
@media screen and (min-width: 768px) {
    /* Navbar styling */
    .navbar-nav a {
        margin-left: 25px;
    }

    .nav-open {
        background-color: transparent;
    }

    /* Home styling */
    .container.home {
        height: 400px;
        width: 100%;
        /* margin: 0; */
    }

    #home {
        padding-top: 60px;
    }

    /* Project styling */
    .projects {
        width: 80%
    }

    .project-github , .project-deployed {
        margin-left: 55px;
    }

    p.projects-title {
        font-size: 2.5em;
    }

    .project1 , .project2 , .project3 , .project4 {
        /* height: 500px; */
    }

    .project1 div , .project2 div , .project3 div , .project4 div {
        /* height: 80%; */
        
    }

    .project-image {
        /* height: 80%;
        width: 80%; */
        
    }

    /* Contact styling */
    .container.contact {
        margin-bottom: 50px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1024px) {

    #navbarNavAltMarkup {
        justify-content: flex-end;
    }
}