* {
    box-sizing: border-box;
}

/* Contact Section */
form {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    padding: 0px 25px 25px 25px;
}

.container.contact {
    padding: 10px;
    background-color: rgb(226, 229, 229);
}

.contact-title {
    text-align: center;
    margin-bottom: 0px;
}

#form-label {
    margin: 10px 0px;
    font-size: 1.2em;
}

#my-form-button {
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {

    #navbarNavAltMarkup {
        justify-content: flex-end;
    }
}