* {
    box-sizing: border-box;
}

/* Main page content styling */
.main-content {
    padding: 0px;
}

/* Nav Bar Styling*/
.navbar-logo {
    color:rgba(255, 255, 255, 0.938);
    font-weight: 600;
    margin-bottom: 0;
    padding: .25em;
    border: white solid 10px;
    border-radius: 100px / 50px;
    border-style: double;
    width: 100px;
    text-align: center;
    font-size: 1em;
    letter-spacing: .1em;
    background-color: rgb(12, 12, 12);
}

/* Home Styling */
.container.home {
    background-image: url('https://res.cloudinary.com/dqtisi62i/image/upload/v1626187247/light-abstract-technology_j4jc7v.jpg'); 
    background-size: cover;
    color: white;
    height: 250px;
    top: 50px;
}

/* Projects Styling */
p.projects-title {
    font-size: 1.5em;
    text-align: center;
}

.projects {
    width: 60%
}

.project-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;

}

/* About Styling */
.container.about {
    background-color: lightblue;
}

.about-text {
    text-align: center;
    line-height: 2em;
}

/* Contact Section */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5em;
    padding: 0px 50px;
}

.container.contact {
    padding: 10px;
    margin: auto;
    background-color: rgb(226, 229, 229);
}

.contact-title {
    text-align: center;
    margin-bottom: 0px;
}

#form-label {
    margin: 10px 0px;
    font-size: 1.2em;
}

#my-form-button {
    margin-top: 20px;
    /* box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4); */
    border:black;
    transition-duration: 0.4s;
    background-color: #47484c;
    color: white;
    width: 50%;
    align-self: center;
}

#my-form-button:hover {
    background-color: white;
    color: black
  }

#my-form-status {
    padding-top: 10px;
    margin-bottom: 0px;
    align-self: center;
}

/* Footer Styling */
footer {
    background-color: black;
}
ul.footer-nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
}
footer div {
    color: white;
    padding-top: 10px;
}
.footer-nav li a {
    text-decoration: none;
    color: white
}

/* Responsive Design Tablet and Desktop */
@media screen and (min-width: 1024px) {

    #navbarNavAltMarkup {
        justify-content: flex-end;
    }
}